<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>添加房间</title>
    <style>
        body {
        }
    </style>
</head>

<body>
<div class="container" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">首页</a></li>
            <li class="breadcrumb-item" aria-current="page">
                <a th:href="@{/record}">主播</a></li>
            <li class="breadcrumb-item active" aria-current="page">添加房间</li>
        </ol>
    </nav>

    <form th:action="@{/record/add}" method="post">
        <div class="mb-3">
            <label for="roomId" class="col-sm-2 form-label">房间号</label>
            <div class="col-sm-10">
                <input type="text" name="roomId" class="form-control" id="roomId" value="">
            </div>
        </div>
        <div class="mb-3">
            <label for="type" class="col-sm-2 form-label">类型</label>
            <div class="col-sm-10">
                <label>
                    <select id="type" name="type" class="form-control">
                        <option value="bili">bili</option>
                        <option value="kugou">kugou</option>
                    </select>
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
</div>
</body>
</html>