<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>首页</title>
<style>
    body{
    }
</style>
</head>

<body>
<div class="container" layout:fragment="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">首页</a></li>
            <li class="breadcrumb-item" aria-current="page">
                <a th:href="@{/record}">主播</a></li>
            <li class="breadcrumb-item active" aria-current="page">
               列表</li>
        </ol>
    </nav>
    <a th:href="@{/record/add}" class="btn btn-info">添加房间</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">用户名</th>
            <th scope="col">状态</th>
            <th scope="col">文件大小</th>
            <th scope="col">操作</th>
        </tr>
        <tbody>
        <tr th:each="r:${list}">
            <td th:text="${r.uname+'-'+r.type}"></td>
            <td><span th:remove="tag" th:text="${r.statusText}"></span></td>
            <td th:if="${r.dataSize!=null}" th:text="${r.dataSize}+'M'"></td>
            <td th:if="${r.dataSize==null}"></td>
            <td>
                <a th:if="${r.status!='3'}" th:href="@{/record/startRecord(id=${r.id})}" class="btn btn-info btn-sm">开始</a>
                <a th:if="${r.status=='3'}" th:href="@{/record/stopRecord(id=${r.id})}" class="btn btn-danger btn-sm">结束</a>
                <a th:if="${r.status!='3'}" th:href="@{/record/edit(id=${r.id})}" class="btn btn-info btn-sm">编辑</a>
                <a th:if="${r.status!='3' && r.type=='bili' && r.uploadToBili}" target="_blank" th:href="@{/record/generateQR(id=${r.id})}" class="btn btn-info btn-sm">登录B站</a>
                <a th:if="${r.status!='3'}" th:href="@{/record/delete(id=${r.id})}" class="btn btn-danger btn-sm">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>